In [1]:
import pandas as pd
import numpy as np
import string
import re
import nltk

Text Preprocessing 
In this kernel, we will talk about the basic steps of text preprocessing.

These steps are needed for transferring text from human language to machine-readable format for further processing. We will also discuss text preprocessing tools. After a text is obtained, we start with text normalization. Text normalization includes:

- converting all letters to lower or upper case

- converting numbers into words or removing numbers

- removing punctuations, accent marks and other diacritics

- removing white spaces

- expanding abbreviations

- removing stop words, sparse terms, and particular words

- applying lemmatization

In [2]:
df_train = pd.read_csv("https://raw.githubusercontent.com/Nikhil-V98/Hackathons/main/Machinehack/Sentiment_Analysis/train.csv")
df_test = pd.read_csv("https://raw.githubusercontent.com/Nikhil-V98/Hackathons/main/Machinehack/Sentiment_Analysis/test.csv")

In [3]:
df_train.head(5)

,ID,author,Review,Sentiment
0,39467,rayinstirling,Today I'm working on my &quot;Quirky Q&quot; c...,2
1,30154,DirtyRose17,@ShannonElizab dont ya know? people love the h...,1
2,16767,yoliemichelle,ughhh rejected from the 09 mediation program. ...,0
3,9334,jayamelwani,@petewentz im so jealous. i want an octo drive,0
4,61178,aliisanoun,I remember all the hype around this movie when...,0

In [5]:
y = df_train['Sentiment']
y

0        2
1        1
2        0
3        0
4        0
        ..
44095    2
44096    2
44097    2
44098    2
44099    0
Name: Sentiment, Length: 44100, dtype: int64

In [6]:
train = df_train.copy()
test = df_test.copy()

train.drop(['ID','author'],axis =1,inplace=True)
test.drop(['ID','author'],axis =1,inplace=True)

In [7]:
train.head(5)

                                              Review  Sentiment
0  Today I'm working on my &quot;Quirky Q&quot; c...          2
1  @ShannonElizab dont ya know? people love the h...          1
2  ughhh rejected from the 09 mediation program. ...          0
3     @petewentz im so jealous. i want an octo drive          0
4  I remember all the hype around this movie when...          0

### Lower casing: Converting a word to lower case (NLP -> nlp).

In [ ]:
for i  in range(train.shape[0]):
    train['Review']=train['Review'][i].lower()

### Tokenization: Splitting the sentence into words.

In [ ]:
train1 = df_train.copy()

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
words=[]
for i  in range(train1.shape[0]):
    words.append(nltk.word_tokenize(train1['Review'][i]))

### Stop words removal: Stop words are very commonly used words (a, an, the, etc.)

In [ ]:
from nltk.corpus import stopwords